{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "vueIndentScriptAndStyle": true,
  "requirePragma": false,
  "useTabs": false,
  "bracketSameLine": false,
  "semi": true,
  "singleAttributePerLine": true
}
